In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/train.csv.zip')

In [3]:
df = df.dropna()

In [ ]:
df.head(5)

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [4]:
df.is_duplicate.unique()

array([0, 1])

# VISUALIZE WHAT IS IS_DUPLICATE

### NOT DUPLICATE

In [5]:
df.question1[0]

'What is the step by step guide to invest in share market in india?'

In [6]:
df.question2[0]

'What is the step by step guide to invest in share market?'

### DUPLICATE

In [7]:
df.loc[df['is_duplicate'] == 1].iloc[0].question2

"I'm a triple Capricorn (Sun, Moon and ascendant in Capricorn) What does this say about me?"

In [8]:
df.loc[df['is_duplicate'] == 1].iloc[0].question1

'Astrology: I am a Capricorn Sun Cap moon and cap rising...what does that say about me?'

# DATA CLEANSING

### REMOVE NON-ASCII CHARACTERS

In [9]:
import re
def remove_non_ascii(text):
    return str(re.sub(r'[^\x00-\x7F]+',' ', str(text)))

In [10]:
df['question1_non_ascii'] = df['question1'].apply(lambda x: remove_non_ascii(x))
df['question2_non_ascii'] = df['question2'].apply(lambda x: remove_non_ascii(x))

In [ ]:
#df.to_csv('/content/preprocessed.csv')
#df = pd.read_csv('/content/preprocessed.csv')
#df.head(10)

   Unnamed: 0  ...                                question2_non_ascii
0           0  ...  What is the step by step guide to invest in sh...
1           1  ...  What would happen if the Indian government sto...
2           2  ...  How can Internet speed be increased by hacking...
3           3  ...  Find the remainder when [math]23^{24}[/math] i...
4           4  ...            Which fish would survive in salt water?
5           5  ...  I'm a triple Capricorn (Sun, Moon and ascendan...
6           6  ...  What keeps childern active and far from phone ...
7           7  ...          What should I do to be a great geologist?
8           8  ...              When do you use "&" instead of "and"?
9           9  ...  How do I hack Motorola DCX3400 for free internet?

[10 rows x 9 columns]

In [11]:

x_train = df.iloc[:,6:].values #get 2 last col
y_train = df.iloc[:,5].values #get duplicate col
#test result
print(x_train[:5])
print("y_train")
print(y_train[:5])

[['What is the step by step guide to invest in share market in india?'
  'What is the step by step guide to invest in share market?']
 ['What is the story of Kohinoor (Koh-i-Noor) Diamond?'
  'What would happen if the Indian government stole the Kohinoor (Koh-i-Noor) diamond back?']
 ['How can I increase the speed of my internet connection while using a VPN?'
  'How can Internet speed be increased by hacking through DNS?']
 ['Why am I mentally very lonely? How can I solve it?'
  'Find the remainder when [math]23^{24}[/math] is divided by 24,23?']
 ['Which one dissolve in water quikly sugar, salt, methane and carbon di oxide?'
  'Which fish would survive in salt water?']]
y_train
[0 0 0 0 0]

In [12]:
s1 = x_train[:,0] #question 1 training
s2 = x_train[:,1] #question 2 training
print(s1[:5])
print(s2[:5])

['What is the step by step guide to invest in share market in india?'
 'What is the story of Kohinoor (Koh-i-Noor) Diamond?'
 'How can I increase the speed of my internet connection while using a VPN?'
 'Why am I mentally very lonely? How can I solve it?'
 'Which one dissolve in water quikly sugar, salt, methane and carbon di oxide?']
['What is the step by step guide to invest in share market?'
 'What would happen if the Indian government stole the Kohinoor (Koh-i-Noor) diamond back?'
 'How can Internet speed be increased by hacking through DNS?'
 'Find the remainder when [math]23^{24}[/math] is divided by 24,23?'
 'Which fish would survive in salt water?']

In [13]:
test_df = pd.read_csv('/content/test.csv.zip')
test_df.head(5)

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,test_id,question1,question2
0,0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...
1,1,Should I have a hair transplant at age 24? How...,How much cost does hair transplant require?
2,2,What but is the best way to send money from Ch...,What you send money to China?
3,3,Which food not emulsifiers?,What foods fibre?
4,4,"How ""aberystwyth"" start reading?",How their can I start reading?

In [14]:
test_df['question1'].apply(lambda x: remove_non_ascii(x))
test_df['question2'].apply(lambda x: remove_non_ascii(x))
question1_test = test_df.iloc[:400001,1:2].values #question 1 test
question2_test = test_df.iloc[:400001,2:].values #question 2 test

In [ ]:
print(question1_test[:5])
print(question2_test[:5])

[['How does the Surface Pro himself 4 compare with iPad Pro?']
 ['Should I have a hair transplant at age 24? How much would it cost?']
 ['What but is the best way to send money from China to the US?']
 ['Which food not emulsifiers?']
 ['How "aberystwyth" start reading?']]
[['Why did Microsoft choose core m3 and not core i3 home Surface Pro 4?']
 ['How much cost does hair transplant require?']
 ['What you send money to China?']
 ['What foods fibre?']
 ['How their can I start reading?']]

In [15]:
import keras
from keras.preprocessing.text import Tokenizer
max_words = 200000
tokenizer = Tokenizer(num_words = max_words)
tokenizer.fit_on_texts(list(df['question1_non_ascii'].values.astype(str))+list(df['question2_non_ascii'].values.astype(str)))

In [16]:
#import keras.utils
import tensorflow as tf
from tensorflow.keras.preprocessing.sequence import pad_sequences
#tokenize and pad question1 training
x_train_q1 = tokenizer.texts_to_sequences(df['question1_non_ascii'].values.astype(str))
x_train_q1 = pad_sequences(x_train_q1, maxlen = 30,padding = 'post')

In [17]:

#tokenize and pad question2 training
x_train_q2 = tokenizer.texts_to_sequences(df['question2_non_ascii'].values.astype(str))
x_train_q2 = pad_sequences(x_train_q2, maxlen = 30, padding = 'post')

In [18]:
#tokenize and pad question1 testing
x_test_q1 = tokenizer.texts_to_sequences(question1_test.astype(str).ravel())
x_test_q1 = pad_sequences(x_test_q1, maxlen = 30, padding = 'post')

In [19]:
#tokenize and pad question2 testing
x_test_q2 = tokenizer.texts_to_sequences(question2_test.astype(str).ravel())
x_test_q2 = pad_sequences(x_test_q2, maxlen = 30, padding = 'post')

In [20]:
word_index = tokenizer.word_index
print(len(word_index))

91848

In [21]:
#!wget http://nlp.stanford.edu/data/glove.6b.zip
import numpy as np
# using GloVe to embedding
embedding_matrix = np.random.random((len(word_index)+1, 200))
embedding_index = {}
with open('/content/glove.6B.200d.txt') as f:
  for line in f:
    values = line.split()
    word = values[0]
    vectors = np.asarray(values[1:],'float32')
    embedding_index[word] = vectors
  f.close()

for word,i in word_index.items():
  vector = embedding_index.get(word)
  if vector is not None:
    embedding_matrix[i] = vector

In [22]:
embedding_matrix[0]

array([7.24230154e-01, 1.19940276e-01, 5.16860972e-01, 2.57478181e-01,
       2.88072056e-01, 4.21084266e-01, 4.56276203e-01, 1.71001402e-01,
       1.68480565e-01, 5.38184604e-01, 1.76498961e-01, 7.68172941e-01,
       9.50338041e-01, 7.78909705e-01, 6.07423465e-01, 1.85883145e-01,
       3.84168640e-01, 5.43227756e-01, 6.73887794e-01, 9.09634476e-01,
       2.62762738e-01, 8.08872468e-01, 7.12962130e-01, 4.29818368e-01,
       5.55852427e-01, 3.91604343e-01, 9.24461441e-02, 8.46264703e-01,
       3.59273447e-01, 1.62009300e-01, 5.05125835e-01, 8.50713126e-01,
       3.10727051e-01, 8.06893558e-01, 5.40446911e-01, 4.58477640e-01,
       7.64835822e-01, 9.54353489e-01, 2.38494251e-01, 4.85666042e-01,
       1.18396768e-01, 7.84654629e-01, 9.73622665e-01, 7.95295562e-01,
       9.70215668e-01, 7.62565806e-01, 4.58298968e-02, 4.60581515e-01,
       3.86846606e-01, 2.34260882e-01, 8.53474101e-01, 8.42179959e-01,
       7.44249573e-02, 2.95207440e-01, 7.57483605e-01, 6.20724978e-01,
       4.92941516e-01, 1.38632884e-01, 9.62084810e-01, 4.66112743e-01,
       3.56746522e-01, 4.11116109e-01, 8.58390771e-01, 9.97123227e-01,
       5.91377690e-02, 2.95326940e-01, 7.10551628e-01, 5.35495006e-01,
       6.82991958e-01, 1.45181038e-02, 6.52336910e-01, 8.99358800e-01,
       8.91134753e-01, 7.71766575e-01, 4.64157876e-03, 1.40258577e-01,
       8.21570874e-01, 1.40078038e-01, 7.56124102e-01, 2.13360397e-01,
       5.56903208e-01, 9.65179244e-01, 1.00921232e-01, 2.07012985e-01,
       9.44890286e-01, 8.65630232e-01, 8.47688831e-01, 3.47141499e-01,
       1.68278587e-01, 8.74242405e-01, 7.68914371e-01, 4.37714640e-01,
       4.25203589e-01, 4.19746255e-01, 3.08355307e-01, 4.20815432e-01,
       2.39486255e-01, 7.80872254e-01, 7.23126228e-01, 3.34206414e-01,
       3.97742199e-01, 9.02810600e-01, 8.57355021e-01, 2.63368867e-01,
       7.48609284e-01, 8.03233127e-01, 6.39829339e-01, 5.10460114e-01,
       8.46943534e-01, 1.49759250e-01, 5.14279695e-01, 2.06166450e-01,
       6.13285091e-01, 6.90331546e-01, 5.94987654e-01, 8.70633133e-01,
       9.12552000e-01, 7.56783029e-01, 6.74023396e-01, 2.50881184e-03,
       2.10803390e-01, 9.04170243e-01, 4.79193410e-01, 1.04527357e-01,
       7.23253498e-02, 7.29663232e-01, 3.48478835e-01, 4.56230769e-01,
       3.17317083e-01, 4.78777893e-01, 7.13279076e-01, 9.11188253e-01,
       6.34297903e-01, 6.08703690e-01, 5.28978544e-01, 7.41901236e-01,
       6.12429638e-01, 7.67271307e-01, 6.14430503e-01, 6.01101297e-02,
       6.90737159e-01, 3.46373299e-01, 1.92137980e-02, 4.74302238e-01,
       7.01731183e-01, 7.93701246e-01, 4.81608876e-01, 9.60673458e-01,
       7.76639881e-01, 6.40775200e-01, 4.76477095e-01, 3.28219713e-02,
       6.69989509e-01, 4.79466021e-01, 4.30128052e-03, 6.37420687e-01,
       1.08004999e-01, 9.38126235e-01, 4.77810057e-01, 5.06653683e-01,
       8.40572119e-01, 2.71845885e-01, 5.09353133e-02, 5.19670080e-01,
       3.06639475e-01, 6.99760350e-01, 6.62327423e-01, 2.81303261e-01,
       1.83059474e-01, 1.93096653e-01, 7.07692553e-01, 4.78906420e-01,
       1.33464634e-01, 8.95755930e-01, 7.04701642e-01, 9.50058789e-01,
       9.37756805e-01, 8.15984526e-01, 2.97326807e-01, 9.49579554e-01,
       6.17394549e-01, 6.09247384e-02, 3.24976312e-02, 2.24458529e-01,
       6.40690554e-01, 5.26249606e-01, 7.31282565e-01, 7.81627300e-06,
       1.69038877e-01, 8.87562333e-01, 3.29580259e-01, 9.46485173e-01,
       3.76161032e-01, 2.47285573e-01, 2.04332868e-01, 8.54433813e-01,
       9.40802218e-01, 3.49968751e-01, 5.87267327e-01, 9.70628512e-01])

In [23]:
import tensorflow

In [24]:

from tensorflow.keras.layers import *
from tensorflow.keras.models import Model

#model for question1
model_q1 = tf.keras.Sequential()
model_q1.add(Embedding(input_dim = len(word_index)+1,
                       output_dim = 200,
                       weights = [embedding_matrix],
                       input_length = 30))
model_q1.add(LSTM(128, activation = 'tanh', return_sequences = True))
model_q1.add(Dropout(0.2))
#model_q1.add(LSTM(128,return_sequences = True))
#model_q1.add(LSTM(128))
model_q1.add(Dense(60,activation = 'tanh'))
model_q1.add(Dense(2,activation = 'sigmoid'))

In [25]:
#model for question 2
model_q2 = tf.keras.Sequential()
model_q2.add(Embedding(input_dim = len(word_index)+1,
                       output_dim = 200,
                       weights = [embedding_matrix],
                       input_length = 30))
model_q2.add(LSTM(128, activation = 'tanh', return_sequences = True))
model_q2.add(Dropout(0.2))
#model_q2.add(LSTM(128,return_sequences = True))
#model_q2.add(LSTM(128))
model_q2.add(Dense(60,activation = 'tanh'))
model_q2.add(Dense(2,activation = 'sigmoid'))

In [26]:
#merge output form model 1 and model 2
merge_out = Multiply()([model_q1.output,model_q2.output])
merge_out = Flatten()(merge_out)
merge_out = Dense(100,activation = 'relu')(merge_out)
merge_out = Dropout(0.2)(merge_out)
merge_out = Dense(50,activation = 'relu')(merge_out)
merge_out = Dropout(0.2)(merge_out)
merge_out = Dense(2,activation = 'sigmoid')(merge_out)

In [27]:
new_model = Model([model_q1.input,model_q2.input],merge_out)
new_model.compile(optimizer = 'adam',
                  loss = 'sparse_categorical_crossentropy',
                  metrics = ['accuracy']
                  )
history = new_model.fit([x_train_q1,x_train_q2],y_train,batch_size = 2000, epochs = 5)

Epoch 1/5
203/203 [==============================] - 24s 75ms/step - loss: 0.5621 - accuracy: 0.7030
Epoch 2/5
203/203 [==============================] - 16s 76ms/step - loss: 0.4755 - accuracy: 0.7692
Epoch 3/5
203/203 [==============================] - 15s 76ms/step - loss: 0.4252 - accuracy: 0.7994
Epoch 4/5
203/203 [==============================] - 16s 77ms/step - loss: 0.3806 - accuracy: 0.8238
Epoch 5/5
203/203 [==============================] - 16s 77ms/step - loss: 0.3389 - accuracy: 0.8458

In [28]:
new_model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 embedding_input (InputLayer)   [(None, 30)]         0           []

 embedding_1_input (InputLayer)  [(None, 30)]        0           []

 embedding (Embedding)          (None, 30, 200)      18369800    ['embedding_input[0][0]']

 embedding_1 (Embedding)        (None, 30, 200)      18369800    ['embedding_1_input[0][0]']

 lstm (LSTM)                    (None, 30, 128)      168448      ['embedding[0][0]']

 lstm_1 (LSTM)                  (None, 30, 128)      168448      ['embedding_1[0][0]']

 dropout (Dropout)              (None, 30, 128)      0           ['lstm[0][0]']

 dropout_1 (Dropout)            (None, 30, 128)      0           ['lstm_1[0][0]']

 dense (Dense)                  (None, 30, 60)       7740        ['dropout[0][0]']

 dense_2 (Dense)                (None, 30, 60)       7740        ['dropout_1[0][0]']

 dense_1 (Dense)                (None, 30, 2)        122         ['dense[0][0]']

 dense_3 (Dense)                (None, 30, 2)        122         ['dense_2[0][0]']

 multiply (Multiply)            (None, 30, 2)        0           ['dense_1[0][0]',
                                                                  'dense_3[0][0]']

 flatten (Flatten)              (None, 60)           0           ['multiply[0][0]']

 dense_4 (Dense)                (None, 100)          6100        ['flatten[0][0]']

 dropout_2 (Dropout)            (None, 100)          0           ['dense_4[0][0]']

 dense_5 (Dense)                (None, 50)           5050        ['dropout_2[0][0]']

 dropout_3 (Dropout)            (None, 50)           0           ['dense_5[0][0]']

 dense_6 (Dense)                (None, 2)            102         ['dropout_3[0][0]']

==================================================================================================
Total params: 37,103,472
Trainable params: 37,103,472
Non-trainable params: 0
__________________________________________________________________________________________________

#Bidirection

In [29]:
#model for question1
model1_q1 = tf.keras.Sequential()
model1_q1.add(Embedding(input_dim = len(word_index)+1,
                       output_dim = 200,
                       weights = [embedding_matrix],
                       input_length = 30))
model1_q1.add(Bidirectional(LSTM(128, activation = 'tanh', return_sequences = True)))
model1_q1.add(Dropout(0.2))
#model1_q1.add(LSTM(128,return_sequences = True))
#model1_q1.add(LSTM(128))
model1_q1.add(Dense(60,activation = 'tanh'))
model1_q1.add(Dense(2,activation = 'sigmoid'))

In [30]:
#model for question2
model1_q2 = tf.keras.Sequential()
model1_q2.add(Embedding(input_dim = len(word_index)+1,
                       output_dim = 200,
                       weights = [embedding_matrix],
                       input_length = 30))
model1_q2.add(Bidirectional(LSTM(128, activation = 'tanh', return_sequences = True)))
model1_q2.add(Dropout(0.2))
#model1_q2.add(LSTM(128,return_sequences = True))
#model1_q2.add(LSTM(128))
model1_q2.add(Dense(60,activation = 'tanh'))
model1_q2.add(Dense(2,activation = 'sigmoid'))

In [31]:
#merge output form model 1 and model 2
merge_out2 = Multiply()([model1_q1.output,model1_q2.output])
merge_out2 = Flatten()(merge_out2)
merge_out2 = Dense(100,activation = 'relu')(merge_out2)
merge_out2 = Dropout(0.2)(merge_out2)
merge_out2 = Dense(50,activation = 'relu')(merge_out2)
merge_out2 = Dropout(0.2)(merge_out2)
merge_out2 = Dense(2,activation = 'sigmoid')(merge_out2)

In [32]:
bi_model = Model([model1_q1.input,model1_q2.input],merge_out2)
bi_model.compile(optimizer = 'adam',
                  loss = 'sparse_categorical_crossentropy',
                  metrics = ['accuracy']
                  )

In [ ]:
bi_model.summary()

Model: "model_2"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 embedding_4_input (InputLayer)  [(None, 30)]        0           []

 embedding_5_input (InputLayer)  [(None, 30)]        0           []

 embedding_4 (Embedding)        (None, 30, 200)      18369800    ['embedding_4_input[0][0]']

 embedding_5 (Embedding)        (None, 30, 200)      18369800    ['embedding_5_input[0][0]']

 bidirectional (Bidirectional)  (None, 30, 256)      336896      ['embedding_4[0][0]']

 bidirectional_1 (Bidirectional  (None, 30, 256)     336896      ['embedding_5[0][0]']
 )

 dropout_8 (Dropout)            (None, 30, 256)      0           ['bidirectional[0][0]']

 dropout_9 (Dropout)            (None, 30, 256)      0           ['bidirectional_1[0][0]']

 dense_14 (Dense)               (None, 30, 60)       15420       ['dropout_8[0][0]']

 dense_16 (Dense)               (None, 30, 60)       15420       ['dropout_9[0][0]']

 dense_15 (Dense)               (None, 30, 2)        122         ['dense_14[0][0]']

 dense_17 (Dense)               (None, 30, 2)        122         ['dense_16[0][0]']

 multiply_2 (Multiply)          (None, 30, 2)        0           ['dense_15[0][0]',
                                                                  'dense_17[0][0]']

 flatten_2 (Flatten)            (None, 60)           0           ['multiply_2[0][0]']

 dense_18 (Dense)               (None, 100)          6100        ['flatten_2[0][0]']

 dropout_10 (Dropout)           (None, 100)          0           ['dense_18[0][0]']

 dense_19 (Dense)               (None, 50)           5050        ['dropout_10[0][0]']

 dropout_11 (Dropout)           (None, 50)           0           ['dense_19[0][0]']

 dense_20 (Dense)               (None, 2)            102         ['dropout_11[0][0]']

==================================================================================================
Total params: 37,455,728
Trainable params: 37,455,728
Non-trainable params: 0
__________________________________________________________________________________________________

In [33]:
history2 = bi_model.fit([x_train_q1,x_train_q2],y_train,batch_size = 2000, epochs = 5)

Epoch 1/5
203/203 [==============================] - 33s 135ms/step - loss: 0.5675 - accuracy: 0.6963
Epoch 2/5
203/203 [==============================] - 29s 143ms/step - loss: 0.4761 - accuracy: 0.7709
Epoch 3/5
203/203 [==============================] - 29s 142ms/step - loss: 0.4273 - accuracy: 0.7996
Epoch 4/5
203/203 [==============================] - 28s 138ms/step - loss: 0.3808 - accuracy: 0.8247
Epoch 5/5
203/203 [==============================] - 29s 141ms/step - loss: 0.3369 - accuracy: 0.8474

In [34]:
#predict model LSTM
y1_predict = new_model.predict([x_test_q1, x_test_q2], batch_size = 2000, verbose = 1)

201/201 [==============================] - 5s 21ms/step

In [35]:
#predict model BI-LSTM
y2_predict = bi_model.predict([x_test_q1, x_test_q2], batch_size = 2000, verbose = 1)

201/201 [==============================] - 9s 40ms/step

In [ ]:
#reference: https://www.kaggle.com/code/ashishpandagre/quora-question-pairs-glove-lstm

#Attention

In [51]:
from tensorflow.keras.layers import Layer
from tensorflow.keras import backend as K
class attention(Layer):
  def __init__(self,return_sequences = True):
    self.return_sequences= return_sequences
    super(attention,self).__init__()
  
  def build(self,input_shape):
    self.W = self.add_weight(name = "att_weight",shape = (input_shape[-1],1),initializer = "normal")
    self.b = self.add_weight(name = "att_bias", shape = (input_shape[1],1), initializer = "normal")
    super(attention,self).build(input_shape)

  def call(self,x):
    e = K.tanh(K.dot(x,self.W) + self.b)
    a = K.softmax(e, axis = 1)
    output = x*a
    if self.return_sequences:
      return output
      
    return K.sum(output, axis = 1)

In [52]:
#LSTM attention
from keras.layers import Attention
#model for question1
model2_q1 = tf.keras.Sequential()
model2_q1.add(Embedding(input_dim = len(word_index)+1,
                       output_dim = 200,
                       weights = [embedding_matrix],
                       input_length = 30))
model2_q1.add(LSTM(128, activation = 'tanh', return_sequences = True))
model2_q1.add(attention())
model2_q1.add(Dropout(0.2))
#model2_q1.add(LSTM(128,return_sequences = True))
#model2_q1.add(LSTM(128))
model2_q1.add(Dense(60,activation = 'tanh'))
model2_q1.add(Dense(2,activation = 'sigmoid'))

In [53]:
#model for question 2
model2_q2 = tf.keras.Sequential()
model2_q2.add(Embedding(input_dim = len(word_index)+1,
                       output_dim = 200,
                       weights = [embedding_matrix],
                       input_length = 30))
model2_q2.add(LSTM(128, activation = 'tanh', return_sequences = True))
model2_q2.add(attention())
model2_q2.add(Dropout(0.2))
#model2_q2.add(LSTM(128,return_sequences = True))
#model2_q2.add(LSTM(128))
model2_q2.add(Dense(60,activation = 'tanh'))
model2_q2.add(Dense(2,activation = 'sigmoid'))

In [54]:
#merge output form model 1 and model 2
merge_out3 = Multiply()([model2_q1.output,model2_q2.output])
merge_out3 = Flatten()(merge_out3)
merge_out3 = Dense(100,activation = 'relu')(merge_out3)
merge_out3 = Dropout(0.2)(merge_out3)
merge_out3 = Dense(50,activation = 'relu')(merge_out3)
merge_out3 = Dropout(0.2)(merge_out3)
merge_out3 = Dense(2,activation = 'sigmoid')(merge_out3)

In [55]:
at_model = Model([model2_q1.input,model2_q2.input],merge_out3)
at_model.compile(optimizer = 'adam',
                  loss = 'sparse_categorical_crossentropy',
                  metrics = ['accuracy']
                  )
history2 = at_model.fit([x_train_q1,x_train_q2],y_train,batch_size = 2000, epochs = 5)

Epoch 1/5
203/203 [==============================] - 21s 82ms/step - loss: 0.5857 - accuracy: 0.6879
Epoch 2/5
203/203 [==============================] - 17s 82ms/step - loss: 0.4970 - accuracy: 0.7614
Epoch 3/5
203/203 [==============================] - 17s 82ms/step - loss: 0.4556 - accuracy: 0.7862
Epoch 4/5
203/203 [==============================] - 16s 81ms/step - loss: 0.4184 - accuracy: 0.8073
Epoch 5/5
203/203 [==============================] - 16s 81ms/step - loss: 0.3824 - accuracy: 0.8251

In [56]:
#bidirectional attention
#model for question1
model3_q1 = tf.keras.Sequential()
model3_q1.add(Embedding(input_dim = len(word_index)+1,
                       output_dim = 200,
                       weights = [embedding_matrix],
                       input_length = 30))
model3_q1.add(Bidirectional(LSTM(128, activation = 'tanh', return_sequences = True)))
model2_q1.add(attention())
model3_q1.add(Dropout(0.2))
#model3_q1.add(Bidirectional(LSTM(128,return_sequences = True)))
#model3_q1.add(Bidirectional(LSTM(128)))
model3_q1.add(Dense(60,activation = 'tanh'))
model3_q1.add(Dense(2,activation = 'sigmoid'))

In [57]:
#model for question2
model3_q2 = tf.keras.Sequential()
model3_q2.add(Embedding(input_dim = len(word_index)+1,
                       output_dim = 200,
                       weights = [embedding_matrix],
                       input_length = 30))
model3_q2.add(Bidirectional(LSTM(128, activation = 'tanh', return_sequences = True)))
model3_q2.add(attention())
model3_q2.add(Dropout(0.2))
#model3_q2.add(Bidirectional(LSTM(128,return_sequences = True)))
#model3_q2.add(Bidirectional(LSTM(128)))
model3_q2.add(Dense(60,activation = 'tanh'))
model3_q2.add(Dense(2,activation = 'sigmoid'))

In [58]:
#merge output form model 1 and model 2
merge_out4 = Multiply()([model3_q1.output,model3_q2.output])
merge_out4 = Flatten()(merge_out4)
merge_out4 = Dense(100,activation = 'relu')(merge_out4)
merge_out4 = Dropout(0.2)(merge_out4)
merge_out4 = Dense(50,activation = 'relu')(merge_out4)
merge_out4 = Dropout(0.2)(merge_out4)
merge_out4 = Dense(2,activation = 'sigmoid')(merge_out4)

In [60]:
bi_at_model = Model([model3_q1.input,model3_q2.input],merge_out4)
bi_at_model.compile(optimizer = 'adam',
                  loss = 'sparse_categorical_crossentropy',
                  metrics = ['accuracy']
                  )
history2 = bi_at_model.fit([x_train_q1,x_train_q2],y_train,batch_size = 2000, epochs = 5)

Epoch 1/5
203/203 [==============================] - 34s 140ms/step - loss: 0.5656 - accuracy: 0.7062
Epoch 2/5
203/203 [==============================] - 29s 141ms/step - loss: 0.4848 - accuracy: 0.7653
Epoch 3/5
203/203 [==============================] - 28s 140ms/step - loss: 0.4360 - accuracy: 0.7940
Epoch 4/5
203/203 [==============================] - 28s 140ms/step - loss: 0.3891 - accuracy: 0.8190
Epoch 5/5
203/203 [==============================] - 29s 141ms/step - loss: 0.3439 - accuracy: 0.8425