In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset/train.csv')

In [3]:
df.head(5)

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [4]:
df.is_duplicate.unique()

array([0, 1])

# VISUALIZE WHAT IS IS_DUPLICATE

### NOT DUPLICATE

In [5]:
df.question1[0]

'What is the step by step guide to invest in share market in india?'

In [6]:
df.question2[0]

'What is the step by step guide to invest in share market?'

### DUPLICATE

In [7]:
df.loc[df['is_duplicate'] == 1].iloc[0].question2

"I'm a triple Capricorn (Sun, Moon and ascendant in Capricorn) What does this say about me?"

In [8]:
df.loc[df['is_duplicate'] == 1].iloc[0].question1

'Astrology: I am a Capricorn Sun Cap moon and cap rising...what does that say about me?'

# DATA CLEANSING

### REMOVE NON-ASCII CHARACTERS

In [9]:
import re
def remove_non_ascii(text):
    return re.sub(r'[^\x00-\x7F]+',' ', str(text))

In [10]:
df['question1_non_ascii'] = df['question1'].apply(lambda x: remove_non_ascii(x))
df['question2_non_ascii'] = df['question2'].apply(lambda x: remove_non_ascii(x))

In [11]:
df.to_csv('preprocessed.csv', index=False)